<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Developers</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1>Developers</h1>
    <a href="/developers/create">New Developer</a>
    <ul>
      <% for (let i = 0; i < developers.length; i++) { %>
      <li>
        <h3><%= developers[i].name %></h3>
        <p>Founded: <%= developers[i].founded %></p>
        <a href="/developers/<%= developers[i].id %>"><button>Open</button></a>
      </li>
      <% } %>
    </ul>
    <a href="/"><button>Back</button></a>
  </body>
</html>
