<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Genres</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1>Genres</h1>
    <a href="/developers/genres">New Genre</a>
    <ul>
      <% for (let i = 0; i < genres.length; i++) { %>
      <li>
        <h3><%= genres[i].name %></h3>
        <p>Description: <%= genres[i].description %></p>
        <a href="/genres/<%= genres[i].id %>"><button>Open</button></a>
      </li>
      <% } %>
    </ul>
    <a href="/"><button>Back</button></a>
  </body>
</html>
