<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Genre</title>
  </head>
  <body>
    <p>This will list all the games in this specific genre</p>
    <ul>
      <% for (let i=0; i < games.length; i++) { %>
      <li>
        <h3><%= games[i].name %></h3>
        <p>Length: <%= games[i].length %> hours</p>
        <p>Price: £<%= games[i].price %></p>
        <a href="/games/<%= games[i].id %>"><button>Open</button></a>
      </li>

      <% } %>
    </ul>
  </body>
</html>
