<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the Games Inventory Store</h1>
    <p>Select any of the below links to access out Games, Developers or Genres Databases</p>
    <a href="/games"> <button>Games</button></a>
    <a href="/developers"> <button>Developers</button></a>
    <a href="/genres"> <button>Genres</button></a>
  </body>
</html>
