<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Developer</title>
  </head>
  <body>
    <h1><%= developer.name %></h1>
    <p>Founded: <%= developer.founded %></p>
    <p>Games: *Need Junction Table for this*</p>
    <a href="/developers/"><button>Back</button></a>
  </body>
</html>
