<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Genre</title>
  </head>
  <body>
    <h1><%= genre.name %></h1>
    <p>Description: <%= genre.description %></p>
    <p>Games: *Need Junction Table for this*</p>
    <a href="/genres/"><button>Back</button></a>
  </body>
</html>
